<section id = 'header-content'>
<div>
  <h1>Grab onto our Handlebars and get ready for the ride of your life.</h1>
  <button>Book a tour</button>
</div>
</section>

<section id = 'tour-content'>

<div>
  <h1>We currently offer two tours</h1>
  
  <div class ='tour-card'>
    <h2>Tour 1 Name</h2>
    <img src='#'>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
    from 45 BC.</p>
    <button>see details</button>
  
  </div>
    <div class ='tour-card'>
    <h2>Tour 2 Name</h2>
    <img src='#'>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
    from 45 BC.</p>
    <button>see details</button>
  </div>
</div>

</section>
