<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"></head>

<body class= 'container'>
  <nav id = 'nav'>
    <div>
      <a href="/"><img src="/images/logo.png" alt='handlebars-tours logo'></a>
    </div>
    {{#if user.email}}
    <div>
    <a href="/">see all tours</a>
    <form method="GET" action="/profile/{{user._id}}">
      <button id="nav-btn">profile</button>
    </form>
    <form method="POST" action="/auth/logout">
      <button id = "nav-btn">logout</button>
    </form>
    </div>
    {{else}}
    <div>
    <a href="/">see all tours</a>
    <a href="/auth/signup">sign up</a>
    <a href="/auth/login">login</a>
    </div>
    {{/if}}
  </nav>

  {{{body}}}

  <footer id = 'footer'>
    <p>Made by Lennie Zhu and Dauv Bafna (Ironhack BCN 2018)</p>
  </footer>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSqhCPvGdIep-riFlAlKyWojxgh3T-BwM"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="/javascripts/main.js"></script>
  {{#if javascript}}
  <script>
    {{{javascript}}}
  </script>
  {{/if}}
</body>

</html>
