<section id="tour-details-container">

<h1>{{tour.name}}</h1>

<div id="map">
</div>

<div id="streetview">
</div>

<div>
  {{tour.description}}
</div>

{{#if user}}
<form method="POST" action="/{{tour._id}}/booking">
  <button>book now</button>
</form>
{{else}}
<a href="/auth/login"><button>book now</button></a>
{{/if}}

</section>
