<section id="tour-details-container">

<div id = "tour-title-book-btn"> 
  <h1>{{tour.name}}</h1>
  {{#if user}}
  <form method="POST" action="/{{tour._id}}/booking">
    <button>book now</button>
  </form>
  {{else}}
  <a href="/auth/login"><button>book now</button></a>
  {{/if}}
</div>

<div>
  {{tour.description}}
</div>

<p><i>(pro-tip: click the markers for a 360 view of each stop)</i></p>

<div id="map">
</div>

<div id="streetview">
</div>



</section>
