/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

 #header-content {
   color: white;
 }

 nav a {
   text-decoration: none;
   font-size: 20px;
   color: black;
   font-weight: bold;
 }

 button {
  font-size: 16px;
  color: white;
}

 #nav-btn {
   text-decoration: none;
   font-size: 20px;
   color: black;
   margin: 0 30px 0 0;
 }

 #signup-content {
  color: white;
 }

#login-content {
  color: white;
}

input {
  font-size: 15px;
}

/* ---- layout ---- */

.container {
  margin: 0px;
  padding: 0px;
}


#header-content {
  height: 100vh;
  background-image: url('../images/2.jpg');
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
}

#header-content div {
  width: 100%;
  padding: 20vh 5vw 0 5vw;
  text-align: center;
}

#hp-tour-content {
  padding: 10vh 0 0 0;
}

#profile-container {
  min-height: 100vh;
  padding: 10vh 5vw;
  /* display: flex;
  flex-direction: row; */
}

.profile-img {
  width: 80%;
  padding: 6vh 0 0 0;
}

#profile-wrapper {
  width: 100%;
}

.profile-section {
  margin: 5vh 0;
}


/* ---- components ---- */
  
#nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 0.5px solid gray;
  padding: 2px;
}

 nav a {
   margin: 0 30px 0 0;
   padding: 2px 3px;
 }

#nav img {
  width: 90%;
  max-width: 15vw;
  min-width: 200px;
  margin: 8px 5px 5px 5px;
}

#nav form {
  display: inline-block;
}

#tour-break-line {
  width: 76%;
  margin-top: 20px;
}

#hp-tour-content > div {
  text-align: center;
}

#tour-card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tour-card {
  margin: 30px;
  max-width: 700px;
}

#tour-details-container {
  padding: 8vh 2vh 0 2vh;
}

#tour-title-book-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 0 3vh 0;
}

.tour-card-img {
  width: 100%;
  max-width: 700px;
}

#signup-content {
  height: 100vh;
  background-image: url('../images/roads1.jpg');
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
}

input {
  width: 20%;
  min-width: 300px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  padding: 8px;
}

#login-content {
  height: 95vh;
  background-image: url('../images/login.jpg');
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50%;
}

/* media queries */

@media (min-width: 1025px) {
  #header-content {
    align-items: center;
  }
  
  #header-content div {
    width: 40%;
    padding: 0 0 0 5%;
    text-align: left;
  }
  
  #hp-tour-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #tour-card-wrapper {
    display: flex;
    justify-content: center;
  }

  .tour-card {
    width: 35%;
    align-self: flex-start;
    display: inline-block;
  }

  #profile-container {
    display: flex;
    flex-direction: row;
  }
  .profile-img {
    width: 40%;
    padding: 6vh 0 0 0;
  }

  #profile-wrapper {
    width: 60vw;
  }
  
}

@media (max-width: 768px) {
  #login-content {
    align-items: center;
    padding: 0;
  }

  #signup-content {
    align-items: center;
    padding: 0;
  }
}
  
#footer {
    background-color: #efefef;
    display: flex;
    padding: 6px;
  }
  
#footer p {
    align-self: flex-end;
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

#map {
  height: 35vh;
  margin: 3vh 0 0 0;
}

#streetview {
  height: 35vh;
}

button {
  padding: 10px 25px;
  background-color: #3F84E3;
  border-radius: 8px;
  border-style: none;
}

#nav-btn {
  padding: 0;
  background-color: white;
  border-radius: 0px;
  border-style: none;
}

.submit {
  margin-top: 20px;
}

#profile-container img {
  width: 60%;
}

.error-img {
  width: 30%;
  margin: 10vh 10vh;
}

/* ---- Profile accordion ---- */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion-nested {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #3F84E3;
    color: white;
}

.active.accordion-nested, .accordion-nested:hover {
    background-color: #ccc;
    color: black;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-upcoming-tour-name {
  margin: 10px 0 0 0;
}

.accordion-daySummary {
  padding: 0 18px;
}