/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

 #header-content {
   color: white;
 }

 nav a {
   text-decoration: none;
   font-size: 16px;
   color: black;
   margin: 0 20px 0 0;
 }

 button {
  font-size: 16px;
  color: white;
}

 #nav-btn {
   text-decoration: none;
   font-size: 16px;
   color: black;
   margin: 0 20px 0 0;
   font-weight: lighter;
 }

 #signup-content {
  color: white;
 }

#login-content {
  color: white;
}

input {
  font-size: 16px;
}

/* ---- layout ---- */

.container {
  margin: 0px;
  padding: 0px;
}

#header-content {
  height: 80vh;
  background-image: url('../images/home-header.png');
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
}

#header-content div {
  width: 100%;
  padding-left: 0;
  text-align: center;
}

#hp-tour-content {
  padding: 5vh 0 0 0;
}

#profile-content {
  padding: 10vh;
}


/* ---- components ---- */
  
#nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 0.5px solid gray;
}

#nav img {
  width: 70%;
}

#nav form {
  display: inline-block;
}


#tour-break-line {
  width: 70%;
  margin-top: 20px;
}

#hp-tour-content > div {
  text-align: center;
}

#tour-card-wrapper {
  padding: 30px 0;
}

.tour-card {
  margin: 30px;
}

#tour-details-container {
  padding: 8vh 2vh 0 2vh;
}

#signup-content {
  height: 80vh;
  background-image: url('../images/home-header.png');
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
}

input {
  width: 20%;
  min-width: 300px;
  margin: 10px 0;
  border-radius: 8px;
  padding: 8px;
}

#login-content {
  height: 80vh;
  background-image: url('../images/home-header.png');
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
}

@media (min-width: 1025px) {
  #header-content div {
    width: 40%;
    padding-left: 5%;
    text-align: left;
  }
  
  #hp-tour-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .tour-card {
    width: 35%;
    display: inline-block;
  }
}
  
  #footer {
    background-color: lightgray;
    height: 20vh;
    display: flex;
  }
  
  #footer p {
    align-self: flex-end;
    text-align: center;
    width: 100%;
  }

  #map{
  height: 60vh;
}

button {
  padding: 10px 25px;
  background-color: #3F84E3;
  border-radius: 8px;
  border-style: none;
}

#nav-btn {
  padding: 0;
  background-color: white;
  border-radius: 0px;
  border-style: none;
}

.submit {
  margin-top: 20px;
}

#profile-content img {
  width: 30%;
}

.error-img {
  width: 30%;
  margin: 10vh 10vh;
}